
  body {
    background-color: #121212;
    color: #f0f0f0;
    font-family: 'Oswald', sans-serif;
  }
  
  h1, h2, .card-title {
    color: #ff6f00;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .card {
    background-color: #1e1e1e;
    border: 2px solid #ff6f00;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px rgba(255, 111, 0, 0.6);
  }
  
  .btn-outline-light {
    border-color: #ff6f00;
    color: #ff6f00;
  }
  
  .btn-outline-light:hover {
    background-color: #ff6f00;
    color: #000;
  }
  
  body::before {
    content: "";
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url('dusters_logggo.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.15;  /* himmennys */
    z-index: -1;    /* taakse */
  }
  .carousel img {
    max-width: 600px;
    max-height: 400px;
    object-fit: cover;
    margin: auto;
    border-radius: 10px;
  }
  